h3 {

    color: aquamarine;
    font-size: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

ul {

    color: blueviolet;
    font-size: 15;
    text-align: center;
}

h4 {

    color:  forestgreen;
}

/* Sırası ile html etiketleri için; color = renk
                                    font-size = boyut
                                    font-family = yazı dil ailesi
                                    text-align = konum 
özelikleri uygulanmıştır. */

